{% extends 'base.html' %}
{% block title %}Candidates for {{ election.name }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Candidates for {{ election.name }}</h1>

        <div class="row">
            {% for candidate in candidates %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ candidate.name }}</h5>
                            <p class="card-text">{{ candidate.description }}</p>
                            {% if candidate.image %}
                                <img src="{{ candidate.image.url }}" alt="{{ candidate.name }} Image" class="img-fluid mb-3">
                            {% endif %}
                            <a href="{% url 'cast_vote' election_id=election.id candidate_id=candidate.id %}" class="btn btn-primary">
                                Cast Vote <i class="fas fa-vote-yea"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% empty %}
                <div class="col-md-12">
                    <p>No candidates available for this election.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
